<div id="pages-sign-in" data-layout="empty-view-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 main">
                <form class="sign-in">
                    <h3>Sign in</h3>
                    <p>
                        Please enter your email address and password to login
                    </p>
                    <div class="form-group">
                        <label for="sign-in-2-email" class="bmd-label-floating">Email address</label>
                        <input type="email" id="sign-in-2-email" class="form-control">
                        <span class="bmd-help">Please enter your email</span>
                    </div>
                    <div class="form-group">
                        <label for="sign-in-1-password" class="bmd-label-floating">Password</label>
                        <input type="password" id="sign-in-1-password" class="form-control">
                        <span class="bmd-help">Please enter your password</span>
                    </div>
                    <div class="checkbox checkbox-secondary">
                        <label>
                            <input type="checkbox" value="remember-me">Remember me
                        </label>
                    </div>
                    <button class="btn btn-raised btn-lg btn-secondary btn-block" type="submit">Sign in</button>
                    <p class="sign-up-link">Don't have an account? <a href="http://localhost:6001/layouts.empty-view-1/pages/sign-up-2">Sign up here</a></p>
                    <p class="copyright">&copy; Copyright 2016</p>
                </form>
            </div>
        </div>
    </div>
</div>
